:root {
    --primary-bg-color: #0277bd;
    --secondary-bg-color: #004c8c;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap Overides */

.navbar {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
}

    .navbar .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar .navbar-brand {
        color: #ffffff;
    }

    .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
        background-color: var(--secondary-bg-color);
    }

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.body-content {
    padding-top: 3.5rem;
}

/* Page-level styles */

.logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.navbar-custom {
    background-color: var(--primary-bg-color);    
}
    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(255,255,255,1);
    }
    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(255,255,255,1);
    }
    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
    }

.menu-action {
    margin-right: 15px;
}

#logoutForm {
    display: contents;
}

.course {
    border-bottom: 1px solid var(--secondary-bg-color);
    padding: 30px 0;
    display: flex;
}

    .course .fa-bookmark {
        color: var(--primary-bg-color);
    }

        .course .fa-bookmark:hover {
            cursor: pointer;
        }

.course-title {
    font-size: medium;
}

.course-details {
    font-size: small;
}

    .course-details > div {
        float: left;
    }

.course-details-publisher {
    width: 140px;    
}

.course-details-date {
    width: 140px;
    margin-right: 30px;
}

.course-price {
    width: 100px;
    margin: auto;
    text-align: right;
}

.course-action {
    float: right;
    margin: auto;
    margin-right: 30px;
}

    .course-action:hover {
        cursor: pointer;
    }

    .course-action .dropdown-menu-form {
        max-height: 200px;
        overflow-y: auto;
    }

.channel-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

    .channel-list .card {
        color: white;
    }

.channel-item {
    list-style: none;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
}

    .channel-item .card-body {
        height: 150px;
    }

.channel-checkbox {
    margin-right: 8px;
}

@media (min-width: 481px) {
    .channel-item {
        width: calc(50%);
    }
}

@media (min-width: 769px) {
    .channel-item {
        width: calc(33%);
    }
}


