:root {
    --primary-bg-color: #0277bd;
    --secondary-bg-color: #004c8c;   
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap Overides */

.navbar {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
}

    .navbar .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar .navbar-brand {
        color: #ffffff;
    }

    .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
        background-color: var(--secondary-bg-color);
    }

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body-content {
    padding-top: 3.5rem;
}

.fa-bookmark {
    color: var(--primary-bg-color);
}

    .fa-bookmark:hover {
        cursor: pointer;
    }
    /* Page-level styles */
    .course {
        border-bottom: 1px solid var(--secondary-bg-color);
        padding: 30px 0;
        display: flex;
    }

.course-title {
    font-size: medium;
}

.course-details {
    font-size: small;    
}

    .course-details > div {
        float: left;
    }

.course-details-publisher {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.course-details-date {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 30px;
}

.course-price {
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    margin: auto;    
}

.course-bookmark {
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    margin: auto;
    padding-right: 30px;
}