body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap Overides */

.navbar {
    background-color: #0277bd;
    border-color: #0277bd;
}

    .navbar .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar .navbar-brand {
        color: #ffffff;
    }

    .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
        background-color: #004c8c;
    }

    .dropdown-menu {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

.navbar .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body-content {
    padding-top: 3.5rem;
}