@model CourseSearch.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Courses";
}
@using (Html.BeginForm("Search", "Courses"))
{
    <div class="form-group">
        <div class="input-group mb-3">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Seach courses" })
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
    </div>
}
    <div id="courses-list">      
        @Html.Partial("_CoursesPartial", Model.Courses)
    </div>

@section scripts
{
    <script type="text/javascript">

        var pageIndex = 1;

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() ==
                    $(document).height() - $(window).height()) {
                    GetCourses();
                }
            });
        });

        function GetCourses() {
            $.ajax({
                url:'@Url.Action("GetCourses", "Home")',
                data: { "page": pageIndex, "query": '@Model.SearchTerm' },               
                success: function (response) {
                    if (response != null) {
                        $('#courses-list').append(response);
                        pageIndex++;
                    }
                },
                error: function (exception) {                
                    alert("Error while retrieving data!");
                }
            });
        };
</script>
}